h1{
    color: rgb(255, 255, 255);
    margin: 2rem 1.5rem;
}

.Viewer{
    display: grid;
        grid-template-columns: repeat(4,minmax(0,1fr));
        grid-template-rows: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        margin: 3rem 1rem;
        text-align: center;
        gap: 25px;
        @media only screen and (max-width: 785px) {
            grid-template-columns: repeat(2,minmax(0,1fr));
                   gap: 25px;
               }
                   
        .Viewer_img{
            transform: scale(1);
            border: 2px solid rgb(126, 123, 123);
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            &:hover{
                border: 2px solid white;
                transform: scale(1.1);


            }

        }
    img{
        width: 100%;
            border-radius: 20px;
            height: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            cursor: pointer;

    }
}